---
theme: home
title: I18n CMS | CMS with the internalization done right
---

<section class="cell2-4" id="main">
  <h1>I18n CMS</h1>
  <h2>CMS with the internalization done right</h2>
  <p>
    <img src="http://via.placeholder.com/230x100">
  </p>
  <p>
    <a href="">Get started</a>
  </p>
</section>
<section class="cell2-4" id="features">
  <h1 class="project-name">Features</h1>
  <div class="col2">
    <div>
      <h2>i18n</h2>
      <p>Internalization out of the box, no need to search for plugin.</p>
    </div>
    <div>
      <h2>Templates</h2>
      <p>Built in template support.</p>
    </div>
    <div>
      <h2>Markdown</h2>
      <p>Get CommonMark out of the box. Also you can keep writing your translation strings right inside Markdown files.</p>
    </div>
    <div>
      <h2>LESS</h2>
      <p>Modularize your CSS and use all features of LESS preprocessor.</p>
    </div>
  </div>
</section>
