<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{title[Page title] <%= page.title %>}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
  <% include ../partials/header %>
<main class="col5">
  <!-- Navigation Start -->
  <%if (page.showDocNav) { %> <% include ../partials/navigation %> <% } %>
  <!-- Navigation End -->

  <article class="cell2-3">
    <%- body %>
  </article>

  <!-- TOC Start -->
  <%if (page.showDocNav) { %> <% include ../partials/toc %> <% } %>
  <!-- TOC End -->
</main>
  <% include ../partials/footer %>
</body>
</html>
