<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{title[Page title] <%= page.title %>}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
  <% include ../partials/header %>
<main>
  <div class="col5 device">
    <!-- Navigation Start -->
    <%if (page.showDocNav) { %> 
      <aside>
        <%- include('../partials/navigation', {items: [sitemap]}) %> 
      </aside>
    <% } %>
    <!-- Navigation End -->

    <article class="cell2-4">
      <%- body %>
    </article>

    <!-- TOC Start -->
    <%if (page.showDocNav) { %> <% include ../partials/toc %> <% } %>
    <!-- TOC End -->
  </div>
</main>
  <% include ../partials/footer %>
</body>
</html>
