<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
<header>
  <div></div>
  <ul>
    <li></li>
    <li></li>
  </ul>
  <h1 class="project-name"><%= page.title %></h1>
  <h2 class="project-tagline"><%= site.description %></h2>
</header>
<main>
  <%- body %>
</main>
<footer>
  
</footer>
</body>
</html>
