<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>
<body>
<header class="col5 middle">
  <img class="cell1 end" id="logo" src="http://via.placeholder.com/130x50">
  <nav class="cell2-3">
    <ul>
      <li>{menu-item-home(header.json)}</li>
      <li>{menu-item-about(header.json)}</li>
      <li>{menu-item-docs(header.json)}</li>
      <li>{menu-item-contacts(header.json)}</li>
    </ul>
  </nav>
  <form class="cell4" id="search">
    <input type="search" id="search">
  </form>
  <div class="cell5 end" id="github">
    <a href="http://www.github.com">Github</a>
  </div>
</header>
<main class="col5">
  <%- body %>
  <!-- <%= site.title %> -->
</main>
<footer class="col5 middle">
  <div class="cell2">Copyright 2018</div>
</footer>
</body>
</html>
{testid[something] Test me}