header
{
  input[type="search"]
  {
    border-radius: 0.5rem;
    border: 2px solid @tertiary;
    color: @content;
    height: 30px;
    padding: 0.2rem 0.5rem;
    width: 170px;
  }
  img
  {
    height: 30px;
  }
  .navigation-link;
  a
  {
    text-transform: uppercase;
  }
  ul
  {
    li
    {
      align-self: center;
      margin: 0 10px;
      padding: 10px;
    }
    display: flex;
    padding: 0;
    list-style: none;
  }
  color: @primary;
  box-shadow: 0px 0px 5px 1px #cacaca;
  position: relative;
}
