<header class="col5 middle">
  <img class="cell1 end" id="logo" src="/assets/images/logo.png">
  <nav class="cell2-3">
    <ul>
      <li>
        <a href="/">{menu-item-home(header)}</a>
      </li>
      <li>
        <a <%-href("documentation")%> >
          {menu-item-docs(header)}
        </a>
      </li>
      <li>
        <a <%-href("news")%> >
          {menu-item-news(header)}
        </a>
      </li>
      <li>
        <a <%-href("blog")%> >
          {menu-item-blog(header)}
        </a>
      </li>
    </ul>
  </nav>
  <form class="cell4" id="search">
    <input type="search" id="search">
  </form>
  <div class="cell5 end" id="github">
    <a href="https://github.com/Manvel/cmints">Github</a>
  </div>
</header>
