<header class="col5 middle">
  <a href="/" class="cell1 end"><img id="logo" src="/assets/images/logo.png"></a>
  <nav class="cell2-3">
    <ul>
      <li>
        <a <%-href("documentation")%> >
          {menu-item-docs(header)}
        </a>
      </li>
      <li>
        <a <%-href("news")%> >
          {menu-item-news(header)}
        </a>
      </li>
      <li>
        <a <%-href("blog")%> >
          {menu-item-blog(header)}
        </a>
      </li>
      <li>
        <a href="https://github.com/Manvel/cmints">
          Github
        </a>
      </li>
    </ul>
  </nav>
  <form class="cell4" id="search">
    <input type="search" id="search">
  </form>
</header>
