<ul>
  <% let pageLocales = getPageLocales() %>
  <% if (currentPage == "index") currentPage = "" %>
  <% for (let pageLocale of pageLocales) { %>
    <% if (pageLocale != locale) { %>
      <li>
        <a href="/<%= pageLocale %>/<%= currentPage %>"><%= pageLocale %></a>
      </li>
    <% } %>
  <% } %>
</ul>