<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include partials/head %>
  <% include partials/meta %>
</head>
<body>
  <% include partials/header %>
<main>
  <div class="col5 device">
    <!-- Navigation Start -->
    <%if (page.showDocNav) { %> 
      <aside id="sitemap">
        <% let documentation = getSitemap("documentation"); %>
        <%if (documentation) { %>
          <% include partials/docNav %>
        <% } %>
      </aside>
    <% } %>
    <!-- Navigation End -->

    <article class="cell2-4">
      <%- body %>
    </article>

    <!-- TOC Start -->
    <%if (page.showDocNav) { %>
      <aside id="toc">
        <h2>Table of content</h2>
        <%- include('partials/toc', {items: toc.children}) %> 
      </aside>
    <% } %>
    <!-- TOC End -->
  </div>
</main>
  <% include partials/footer %>
</body>
</html>
