<!DOCTYPE html>
<html lang="en-US">
<head>
  <% include partials/head %>
  <% include partials/meta %>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <% include partials/header %>
<main>
  <%- body %>
</main>
  <% include partials/footer %>
</body>
</html>