<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{title[Page title] <%= page.title %>}</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <% include ../partials/header %>
<main>
  <%- body %>
</main>
  <% include ../partials/footer %>
</body>
</html>