<header>
  <div class="col5 middle device">
    <nav class="cell1-4">
      <ul>
        <li>
           <a href="/" class="cell1 end"><img src="/images/logo.png"></a>
        </li>
        <% for (let navigation of navigations) { %>
          <li>
            <a <%-href(navigation.path)%>
              <% if (navigation.path == currentPage) { %>class="active"<% } %>>
              {<%-navigation.stringId%>(header)}
            </a>
          </li>
        <% } %>
      </ul>
    </nav>
    <ul>
      <li>
        <form class="cell5" id="search">
          <input type="search" id="search">
        </form>
      </li>
      <li>
        <a href="https://github.com/Manvel/cmints" target="_blank">
          <img src="/images/github-mark.png">
        </a>
      </li>
    </ul>
  </div>
</header>
