<% items.forEach(function(item){ %>
  <li>
    <% let title = ""; %>
    <% if (!item.metadata) { %>
      <% let title = item.url; %>
    <% } else if (item.metadata.navTitle) { %>
      <% title = item.metadata.navTitle; %>
    <% } else if (item.metadata.title) { %>
      <% title = item.metadata.title; %>
    <% } %>
    <% if (item.url) { %>
      <a <%-href(item.url)%>
        <% if (item.url == currentPage) { %>class="active"<% } %>>
        <%= title %>
      </a>
    <% } else { %>
      <%= title %>
    <% } %>
  </li>
<% }) %>
