<ul>
  <% documentation.children.forEach(function(item) { %>
    <li>
      <h2><%= item.metadata.topicTitle %></h2>
    </li>
    <ul>
      <% let indexItem = {items: [item]}; %>
      <% if (item.url == "documentation/getting-started") { %>
        <% indexItem = {items: [documentation]} %>
      <% } %>
      <%- include('partials/navigation', indexItem) %>
      <%- include('partials/navigation', {items: item.children}) %>
    </ul>
  <% }); %>
</ul>
