<title>{title[Page title] <fix><%= site.title %></fix> | <%= page.title %>}</title>
<meta property="og:title" content="{title}">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script src="/js/main.js" defer></script>