<!DOCTYPE html>
<html lang="en-US">
<head>
</head>
<body>
<section class="page-header">
  <h1 class="project-name"><%= page.title %></h1>
  <h2 class="project-tagline"><%= site.description %></h2>
  {{ myspecial string }}
</section>

<section class="main-content">
  <%- body %>
</section>
</body>
</html>